@font-face {
    font-family: "Norse Bold";
    src: url(Norse-Bold.otf);
}

body {
    display: flex;
    margin: 0;
}

.banner {
    display: flex;
    flex: 1;
    max-width: 33%;
    font-family: 'Norse Bold', 'Courier New', Courier, monospace;
    position: relative;
}

.banner .banner-background {
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -1;
}

.logo-container {
    position: absolute;
    padding: 8px;
    top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    box-sizing: border-box;
}

.logo-container img {
    width: max(20%, 100px);
    height: max(20%, 100px);
}

.logo-container p {
    font-size: max(20%, 100px);
    color: white;
    padding-top: 5%;
    margin: 0;
}

.page-content {
    flex: 2;
    height: 100vh;
    background-color: lightgrey;
}